* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg);
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    @media(max-width: 1168px) {
        .container {
            background-size: cover;
        }
    }

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 15%;
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 10%;
}
    @media(max-width: 858px) {
        .header {
            padding: 0;
        }
    }
    
.nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
    @media(max-width: 858px) {
        .nav {
            top: 0;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.2);
            height: 75px;
        }
    }
    @media(max-width: 541px) {
        .nav {
            font-size: 14px;
            top: 0;
            position: fixed;
            padding: 10% 0;
        }
    }

.nav > li {
    padding: 1px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    transition: background-color 0.5s, color 0.5s, box-shadow 1s;
    border-radius: 5px;
}

.nav > li > a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 8px 6px -6px black;
}

.main {
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "m e r";
    
    overflow: scroll;
}

@media(max-width: 1162px) {
    .main {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "m"
        "e"
        "r";
        padding: 0 10%;
        max-height: 550px;
    }
}
@media(max-width: 1440px) {
    .main {
        max-height: 600px
    }
}
@media(max-width: 1200px) {
    .main {
        max-height: 600px;
    }
}

@media(max-width: 412px) {
    .main {
        max-height: 520px;
        margin-top: 10px;
    }
}

@media(max-width: 365px) {
    .main {
        max-height: 490px;
    }
}

@media(max-width: 330px) {
    .main {
        max-height: 425px;
    }
}

.info {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5%;
    border-radius: 5px;
}

.mission {
    grid-area: m;
    
}


.expectations {
    grid-area: e;
}

@media(max-width: 1282px) {
    .expectations > h1 {
        font-size: 36px;
    }
}

.results {
    grid-area: r;
}

#travel {
    width: 400px;
    height: auto;
    display: inline-block;
}

.check {
    width: 40px;
    height: auto;
    padding-left: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.foot {
    display: flex;
    list-style: none;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media(max-width: 415px) {
    .foot {
        height: 70px;
    }
}

.foot:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.foot > li {
    padding: 5px;
}
