* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(images/wooden-planks.jpg);
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    @media(max-width: 1168px) {
        .container {
            background-size: cover;
        }
    }

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 15%;
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 15%;
}
    @media(max-width: 858px) {
        .header {
            padding: 0;
        }
    }

.nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    
}
    @media(max-width: 858px) {
        .nav {
            top: 0;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.8);
            height: 75px;
            line-height: 75px;
        }
    }
    @media(max-width: 541px) {
        .nav {
            font-size: 20px;
            top: 0;
            position: fixed;
        }
    }
    @media(max-width: 400px) {
        .nav {
            font-size: 14px;
            top: 0;
            position: fixed;
        }
    }


.nav > li {
    padding: 1px;
}

.nav > li > a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    transition: background-color 0.5s, color 0.5s, box-shadow 1s;
    border-radius: 5px;
}

.nav > li > a:hover {
    background-color: black;
    color: white;
    box-shadow: 0 8px 6px -6px black;
}

.main {
    overflow: scroll;
    width: 100%;
    height: 100vh;
    padding: 7% 4%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4px;
    font-family: 'Vollkorn', serif;
}
    @media(max-width: 1135px) {
        .main {
            padding: 10% 10%;
        }
    }
    @media(max-width: 900px) {
        .main {
            grid-template-columns: repeat(2, 1fr);
            padding: 10% 10%;
        }
    }
    @media(max-width: 800px) {
        .main {
            grid-template-columns: repeat(2, 1fr);
            padding: 15% 10%;
        }
    }
    @media(max-width: 561px) {
        .main {
            grid-template-columns: 1fr;
            padding: 20% 15%;
        }
    }

.pics {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 2s;
}

.pics:hover {
    box-shadow: 0 8px 6px -6px black;
    transform: scale(1.2);
    
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    height: 75px;
}

.foot {
    display: flex;
    list-style: none;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.foot:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.foot > li {
    padding: 5px;
}